/* =========================================
   Font faces
   ======================================== */
@font-face {
    font-family: slavonic_font;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/HirmUcs8.ttf');
}

@font-face {
    font-family: slavonic_font_ie;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/HirmIEUcs8.eot');
}

@font-face {
    font-family: slavonic_font;
    font-style: italic;
    font-weight: normal;
    src: url('fonts/HirmSoUcs8.ttf');
}

@font-face {
    font-family: slavonic_font_ie;
    font-style: italic;
    font-weight: normal;
    src: url('fonts/HirmSoIEUcs8.eot');
}


/* =========================================
   Styles
   ======================================== */
.slavic {
    font-family: "Hirmos ieUcs", slavonic_font, slavonic_font_ie, sans-serif;
}


/* =========================================
   Deprecated
   ======================================== */
.s1 { color:red; }
.slavic .kinovar { color:red; }
.slavic .slavic_gray { color:gray; }
